
<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:member] %>" placeholder="What do you want to ask?">
  <input type="submit" value="Ask!">
</form>
